*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;

    
}

#content{
    flex: auto;
}

#footer, #header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

#btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


    /* Temporary to separate columns

    */

    background-color: blueviolet;
}

#content{
    display: flex;
}

form{
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    background-color: burlywood;
    gap: 32px;

    padding: 20px;
}
label{
    width: 54px;
    display: inline-block;

    font-size: 17px;
}

input{
    border-radius: 5px;
    padding: 5px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}


#cards{
    flex: 1 0 300px;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    padding: 10px;

}
.card{
    flex: 0 1 25%;

    min-width: 100px;

    padding: 10px;
    margin: 10px;
}